@charset "UTF-8";

:root {
    /* cores */
    --var01: #4361ee;
    --var02: #ffffff;

/* fonte */
    --font: 'Segoe UI', system-ui, -apple-system, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background: #0f0f1a;
}

header {
    background-color: #0c172b;;
    max-width: 100%;
    max-height: 300px;
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

header > div {
    display: flex;
}

#titulo-header {
    font-family: var(--font);
    color: var(--var01);
    font-size: 1.5em;
}

#barraDePesquisa{
    border-radius: 10px;
    margin-right: 10px;
    padding-left: 5px;
    background-color: #0c172b;
    border: solid 0.5px gray;
}

#tema {
    padding: 10px;
    border-radius: 10px;
    background-color: #0c172b;
    border: solid 0.5px gray;
}

header  i {
    color: white;
}

main {
    
}

section#dados {
    max-height: 400px;
    max-width: 1000px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.sub-container-dados {
    background-color: rgba(30, 143, 255, 0.247);
    border-radius: 10px;
    padding: 30px 100px;
    flex: 1;
}

.quantidade {
    color: #1b51c5;
    font-family: var(--font);
    font-weight: bold;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 5px;
}

.especificacao {
    color: gray;
    font-family: var(--font);
    font-size: 12px;
    text-align: center;
}

section#add-treinos {
    max-width: 1000px;
    background-color: rgba(30, 143, 255, 0.247);
    border-radius: 10px;
    flex: 1;
    font-family: var(--font);
    margin: auto;
}

#titulo-add-treinos{
    color: white;
    font-size: 1em;
    padding: 30px 30px;
}

div#container-form-add {
    display: flex;
    flex-wrap: wrap;
}



section div.grupoform {
    
}